@{
    ViewBag.Title = "About";
}
<h3>   </h3>
<div class="container">
    <div class="col-md-4">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fxtremecaffeine&amp;width&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=761462080562204" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:590px;" allowtransparency="true"></iframe>

    </div>
    <div class=" col-md-8">
        <section class="block">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item">
                        <img src="~/static/img/Carousel4.jpg" alt="Slide1" />
                    </div>
                    <div class="item">
                        <img src="~/static/img/Carousel5.jpg" alt="Slide2" />
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>One more for good measure.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/static/img/Carousel6.jpg" alt="Slide3" />
                    </div>
                    <div class="active item">
                        <img src="~/static/img/Carousel7.jpg" alt="Slide4" />
                    </div>
                    <div class="item">
                        <img src="~/static/img/Carousel8.jpg" alt="Slide5" />
                    </div>
                    <div class="item">
                        <img src="~/static/img/Carousel9.jpg" alt="Slide6" />
                    </div>
                    <div class=" item">
                        <img src="~/static/img/Carousel10.jpg" alt="Slide7" />
                    </div>
                    <div class="item">
                        <img src="~/static/img/Carousel11.jpg" alt="Slide8" />
                    </div>
                    <div class="item">
                        <img src="~/static/img/Carousel12.jpg" alt="Slide9" />
                    </div>
                    <div class=" item">
                        <img src="~/static/img/Carousel3.jpg" alt="Slide10" />
                    </div>
                    <div class="item">
                        <img src="~/static/img/Carousel1.jpg" alt="Slide11" />
                    </div>
                   
                </div>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>

            </div>
        </section>
    </div>

</div>




   <script type="text/javascript">
    function initialize() {
        $('.carousel').carousel({
            interval: 2000
        })
    }
    $(function () {
        initialize();
    });

</script>