@{
    ViewBag.Title = "About";
}
<h3 class="text-center">  Menu </h3>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Coffee Menu </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <small>
                    If you prefer your coffee not so strong please let us know as we generally serve it strongish. Enjoy coffee the way it was meant to be, the way you want it.
                </small>
                <table class="table table-hover">
                    <tr><td><span class="input-lg">Affogato </span>Espresso coffee served short or long with a scoop of icecream on the side-------$4.50</td></tr>
                    <tr><td><span class="input-lg">Allapana</span> Short or long black served with pouring cream.………………………………………………….……..….....….......$4.40                </td></tr>
                    <tr><td><span class="input-lg">Cappuccino</span> Rich, milky coffee topped with froth and chocolate powder……………………….……..$4.40                           </td></tr>
                    <tr><td><span class="input-lg">Chai</span> Cinnamon, clove, cardamom, ginger and milk beverage…………………………………………………….…….……$4.40                           </td></tr>
                    <tr><td><span class="input-lg">Decaf Coffee </span>  Decaffeinato, can be made strong tasty……………………………………………………………………..…......$4.80                        </td></tr>
                    <tr><td><span class="input-lg">Espresso</span> Short or long black usually served strong.……………………………………….……………….……….………..……....$4.00                    </td></tr>
                    <tr><td><span class="input-lg">Flat White</span> Rich, milky coffee served flat……………………………………………………………………………….………..............…...........$4.40        </td></tr>
                    <tr><td><span class="input-lg">Hot Chocolate</span> Served in a mug then topped with froth and chocolate powder...............$4.80                     </td></tr>
                    <tr><td><span class="input-lg">Hypercino</span> Triple strength coffee, a very strong and rich style of cappuccino…………….........$5.00                   </td></tr>
                    <tr><td><span class="input-lg">Iced Coffee</span> Freshly espressed coffee , lots of icecream, milk, then blended and topped with whipped cream and chocolate powder...... ..$6.50                     </td></tr>
                    <tr><td><span class="input-lg">Iced Mocha</span> Iced coffee with chocolate powder blended in………………………………………………….……….........$6.50                      </td></tr>
                    <tr><td><span class="input-lg">Iced Chocolate</span> Drinking chocolate, milk and icecream blended then topped with whipped                             </td></tr>
                    <tr><td><span class="input-lg">cream and chocolate powder</span>.……………………….…..................................................$6.50                      </td></tr>
                    <tr><td><span class="input-lg">Latte`</span> Mild and milky coffee served in a short glass………………….…………………….…………………………………………..…..$4.40                   </td></tr>
                    <tr><td><span class="input-lg">Long glass</span>……………………………………………....………………………….…..…......$4.80                                                          </td></tr>
                    <tr><td><span class="input-lg">Macchiato</span> Short or long espresso coffee stained with milk……………………………………………………….....……...$4.40                     </td></tr>
                    <tr><td><span class="input-lg">Mugacino</span> Cappuccino served in a mug.........……...…......................................$4.80                     </td></tr>
                    <tr><td><span class="input-lg">Mocha</span> Strong milky coffee mixed with chocolate the topped with whipped cream and chocolate powder......$4.40                      </td></tr>
                    <tr><td><span class="input-lg">Piccolo</span> Short espresso style coffee with 30% milk served in a small glass …………………………...$4.40                      </td></tr>
                    <tr><td><span class="input-lg">Soycino</span> Cappuccino made with soy milk (Vitasoy)……….………………...………………………………………………………..……$4.80                        </td></tr>
                    <tr><td><span class="input-lg">Vienna</span> Espresso coffee served long, topped with whipped cream...…………………………………….…….......$4.40                     </td></tr>
                    <tr><td><span class="input-lg">Takeaway coffee,16oz </span>……………………………………………………………………………………………………………………………………………………..$5.00</td></tr>
                    <tr><td><span class="input-lg">Takeaway coffee 12oz </span>……………………………………………………………………………………………………………………………………………………..$4.70                </td></tr>
                    <tr><td><span class="input-lg">Takeaway coffee 8oz </span>……………………………………………………………………………………………………………………………………………………..$4.40                 </td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Tea Menu
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <small>
                    Pickwick loose leaf, silk pyramid tea bags. Enjoy the quality off loose leaf tea in a tea bag.
                </small>
                <table class="table table-hover">
                    <tr><td><span class="input-lg">English Breakfast </span> Classic full bodied and lively black tea blend. </td></tr>
                    <tr><td><span class="input-lg">Golden Darjeeling </span> Delicate champagne of teas from the Himalayas.  </td></tr>
                    <tr><td><span class="input-lg">Earl Grey </span> Victorian style black tea with a hint of bergamot.      </td></tr>
                    <tr><td><span class="input-lg">Lovely Jasmine </span> An exotic black tea with jasmine blossoms.         </td></tr>
                    <tr><td><span class="input-lg">Mint Infusion </span> A blend of peppermint and spearmint leaves.         </td></tr>
                    <tr><td><span class="input-lg">Green Blossom </span> Blend of green tea leaves enriched with jasmine.    </td></tr>
                    <tr class="danger"><td><span class="input-lg">      ************************************ </span>                                                             </td></tr>
                    <tr><td><span class="input-lg">Small Pot................$4.50  </span>                                      </td></tr>
                    <tr><td><span class="input-lg">Large Pot................$6.50   </span>                                     </td></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Cold Drinks
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <small>
                    We have a selection of cold drinks in the drink fridge,
                    ranging from cans & bottles of soft drinks, juices, natural
                    spring water and mineral water, feel free to have a look.
                </small>
                <table class="table table-hover">
                    <tr>
                        <td>
                            <span class="input-lg">
                                Milkshake
                            </span><br /> Two scoops of icecream, fullcream milk and syrup then blended. Your choice of
                            chocolate, strawberry, vanilla or butter scotch (caramel)..$6.00

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="input-lg">
                                Iced Tea
                            </span><br /> Your choice of tea, served in a long glass lined with thin lemon slices and then filled
                            with ice and tea............$5.50

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                    Food Menu
                </a>
            </h4>
        </div>
        <div id="collapsefour" class="panel-collapse collapse in">
            <div class="panel-body">
                <small>

                </small>
                <table class="table table-hover">
                    <tr class="danger">
                        <td>
                            <span class="input-lg">
                                TOASTS
                            </span>

                        </td>
                    </tr>
                    <tr>
                        <td>

                            Thick White, Wholemeal, Grain, Raisin, Light Rye and Gluten free,<br /> served as two
                            slices, spreads available (vegemite, strawberry jam, peanut butter, marmalade all served on the
                            side).…$4.00
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            <span class="input-lg">
                                CROISSANTS-
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Large, fresh, oven toasted croissants…
                        </td>
                    </tr>
                    <tr><td><span class="">Plain croissant </span>…………......................................$6.50                </td></tr>
                    <tr><td><span class="">Tomato and cheese </span> ......……………….......................................................$7.50                 </td></tr>
                    <tr><td><span class="">Crispy bacon, tomato and lettuce </span> ...…………..………...............$8.50                                         </td></tr>
                    <tr><td><span class="">Smoked ham, cheese and tomato </span> …………………................$8.50                                            </td></tr>

                    <tr class="danger">
                        <td>
                            <span class="input-lg">
                                EGGS-
                            </span> <br />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            3 egg scramble served with fresh cut tomato and two pieces of buttered toast (thick white, grain,
                            wholemeal or light rye)..................$10.50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Two poached eggs served with fresh cut tomato and two slices of buttered toast (thick white,
                            grain, wholemealor light rye)..........................................$9.00
                        </td>
                    </tr>
                    <tr><td>Single serve of bacon……………………………….........…add…$1.50</td></tr>


                    <tr class="danger">
                        <td>
                            <span class="input-lg">
                                BELT
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            - Bacon, Egg, Lettuce, Tomato and mayo toasted sandwich
                            …...$7.50
                        </td>
                    </tr>


                    <tr class="danger">
                        <td>
                            <span class="input-lg">
                                BURRITOS
                            </span> <br /> Spicy burrito mix and cheese heated then rolled in unleavened bread with
                            chopped tomato and sliced lettuce, served with a dress salad.
                        </td>
                    </tr>

                    <tr><td> Vegetarian bean mix…...……………………...................$10.00</td></tr>
                    <tr><td> Bacon and bean mix…...……………………....................$11.00</td></tr>
                    <tr><td> Chicken and bean mix…...…………………................$11.00</td></tr>

                    <tr class="danger">
                        <td>
                            <span class="input-lg">
                                XTREME CLUB SANDWICH
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Double decker toasted sandwich with bacon, chicken,

                            lettuce, tomato, beetroot, cucumber, carrot, sprouts and beerenberg tomato chutney…..$10.50
                        </td>
                    </tr>


                    <tr class="danger">
                        <td>
                            <span class="input-lg">
                                XTREME GOURMET BURGER
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lean scotch fillet steak, bacon, fried onion,
                            <br />
                            cheese, lettuce, carrot, tomato, beetroot, cucumber and alfalfa sprouts fill a large toasted bun,
                            <br />
                            served with beerenberg tomato chutney on the side........................……..….$13.00
                        </td>
                    </tr>


                    <tr class="danger">
                        <td>
                            <span class="input-lg">
                                STEAK SANDWICH
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lean scotch fillet steak, fried onion rings, cheese, tomato and
                            <br />
                            lettuce toasted sandwich...............................…………$9.50
                        </td>
                    </tr>

                    <tr class="danger">
                        <td>
                            <span class="input-lg">
                                CHEESE MELTS

                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Two slices of thick toast, served open, with your choice of topping and
                            <br />

                            generous amounts of mature cheese, grilled and served with a dress salad……
                        </td>
                    </tr>
                    <tr><td>Ham, pineapple and cheese……………………………………........................................................$12.00                                                </td></tr>
                    <tr><td>Bacon, tomato and cheese…………………..…………........................................................................……............$12.00                    </td></tr>
                    <tr><td>Chicken, pineapple and cheese…………………………………………........................…...$12.00                                                                      </td></tr>
                    <tr><td>Ham, asparagus and cheese.….......................................................................................................$12.00             </td></tr>
                    <tr><td>Bacon, banana and cheese.……………………………............................................................................$12.00                               </td></tr>
                    <tr><td>Salami, tomato and cheese……………………………..…........................................................…...........$12.00                                    </td></tr>
                    <tr><td>Extra filling………………………………....................................................................................................…$1.00                  </td></tr>
                    <tr><td>Your combination (2 fillings and cheese)………………………………………………………………………………….…………...........….........…..…$12.00                                          </td></tr>
                    <tr><td>Single serve (2 fillings and cheese)………….……………….........................................……….$7.50                                                    </td></tr>


                    <tr class="danger">
                        <td>
                            <span class="input-lg">
                                FRESHCUT SANDWICHES
                            </span> <br />- Breads available- Thick white, Grain, Wholemeal,
                        </td>
                    </tr>
                    <tr><td> Light Rye and Gluten Free ($1 extra)                                                                                   </td></tr>
                    <tr><td> Large crusty bread roll, grain or white......…………………………………………………………………………………………………….……………..add…$2.00                   </td></tr>
                    <tr><td> Spreads available- Whole egg mayonaise, beerenberg tomato chutney, seed mustard,                                       </td></tr>
                    <tr><td> Dijon mustard and hot english mustard.                                                                                 </td></tr>
                    <tr><td> Salad sandwich (lettuce, tomato, cucumber, alfalfa sprouts, beetroot and carrot) ……….…………….$7.50                       </td></tr>
                    <tr><td> Bacon, cheese, tomato, beetroot and lettuce…..................$7.00                                                    </td></tr>
                    <tr><td> Smoked leg ham and salad…………………………………................…............$8.50                                                </td></tr>
                    <tr><td> Chicken and salad…………………………….………...................................................$8.50                               </td></tr>
                    <tr><td> Salami and salad…………………………………..........................................................$8.50                           </td></tr>
                    <tr><td> Egg, lettuce and mayo...........…..……...........................................................$6.50                  </td></tr>


                    <tr class="danger">
                        <td>
                            <span class="input-lg">TOASTED SANDWICH</span> <br /> pressed, your choice of bread and 3 fillings....…………………...…....$6.50
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    function initialize() {
        $('.carousel').carousel({
            interval: 2000
        })
    }
    $(function () {
        initialize();
    });

</script>